.@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Black.woff2') format('woff2'),
    url('../fonts/Exo2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('../fonts/Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@400;700;900&family=Mulish:wght@300;700&display=swap');

/*font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif;*/

body {
    font-family: 'Gilroy';
    font-weight: 700;
}
.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
/*HEADER*/
.header {
    background: url('../img/header-bg.png') no-repeat;
    background-size: cover;
    padding: 25px 0 75px;
    color: #fff;
    position: relative;
}
.header__top {
    margin: 0 0 35px;
}
.header__container {
    position: relative; 
}

.header__row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: transparent;
    padding: 0 11px 0 0;
}
.logo-adaptive{
    display: none;
}
.column{
    padding: 0;
}
.header__logo img{
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.header__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 144%;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 3px 10px 0 0;
}

.header__title{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    position: relative;
    padding: 0 0 27px;
    margin: 0 0 26px;
}
.header__title:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    transform: translateX(-55%);
    width: 83px;
    height: 3px;
    background: #fad264;
}
.header__title span{
    color: #fad264;
}
.header__subtitle{
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
    margin: 0 auto 41px;
}
.header__subtitle span{
    font-weight: 700;
}
.header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto 20px;
    padding: 0;
}
.header__item {
    background: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    max-width: 285px;
    min-height: 125px;
    padding: 22px 10px 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.header__item:not(:last-child){
    margin: 0 32px 20px 0;
}
.header__item{
    margin: 0 0 20px;
}
.header-item {}
.header-item__icon {
    position: absolute;
    top: -22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header-item__text {
    color: #000;
    font-size: 18px;
    line-height: 116%;
    font-weight: 400;
}
.header__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 49px;
}
.header-data {}
.header-data__icon {
    margin: 0 8px 0 0;
}
.header-data__text {
    font-size: 20px;
    line-height: 120%;
}
.header-data__text_yellow {
    color: #FCE559;
    margin: 0 5px 0 0;
}
.header-data__text_yellow span{
    display: none;
    color: #fff;
    font-size: 18px;
}
.header-data__icon_2{
    display: none;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    border: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    font-size: 0;
    pointer-events: none;
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 4px;
    vertical-align: sub;
}
.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url('../img/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.real-checkbox:checked + .custom-checkbox::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.header__form {
    margin: 0 auto 37px;
}
.header-form__button span:last-child{
    display: none;
}
.header-form {}
.header-form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 19px;
}
.header-form__input {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    min-height: 56px;
    padding: 10px 27px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
    margin: 0 30px 0 0;
    color: #000;
    -webkit-transition: all .1s ease 0s;
    -o-transition: all .1s ease 0s;
    transition: all .1s ease 0s;
    border: 2px solid transparent;
}
.header-form__input:focus{
 border: 2px solid #F7C847;
}
.header-form__input::-webkit-input-placeholder{
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
}
.header-form__input::-moz-placeholder{
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
}
.header-form__input:-ms-input-placeholder{
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
}
.header-form__input::-ms-input-placeholder{
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
}
.header-form__input::placeholder{
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
}
.header-form__button{
    background: -o-linear-gradient(14.07deg, #FAD264 44.82%, #FCE558 70.67%);
    background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    min-width: 253px;
    min-height: 56px;
    padding: 10px 27px;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 116%;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}
.header-form__button:hover{
    background: #ad8414;
    color: #fff;
    font-weight: 700;
}
.header-form__label {
    font-size: 14px;
    line-height: 171%;
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 0;
    cursor: pointer;
}
.header__bottom {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header-bottom__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-bottom {}
.header-bottom__icon {
    margin: 0 14px 0 0;
}
.header-bottom__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 118%;
    text-align: center;
}
.scroll-down{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: mouse 2s ease-out infinite;
    animation: mouse 2s ease-out infinite;
}
@-webkit-keyframes mouse {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, 30%);
        transform: translate(-50%, 30%);
        opacity: 0;
    }
}
@keyframes mouse {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, 30%);
        transform: translate(-50%, 30%);
        opacity: 0;
    }
}
.bg-image__left,
.bg-image__right {
    position: absolute;
}
.bg-image__left{
    bottom: 146px;
}
.bg-image__right{
    bottom: -12px;
    right: 14px;
}
.bg-image__mobile{
    display: none;
}

/*PROGRAM*/

.program {
    padding: 91px 0 95px;
}
.program__container {}
.program__title {
    color: #320B61;
    margin: 0 0 23px;
}
.program__title::before{
    background: #E130E3;
}
.g-title{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 122%;
    padding: 0 0 41px;
}
.g-title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
}
.program__items {}
.program__item {}
.program-item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.program-item:not(:last-child){
    margin: 0 0 45px;
}
.program-item__2 .program-item__image{
    margin: 0 29px 0 0;
}
.program-item__2 .program-item__body{
    padding: 38px 5px 79px 0;
}
.program-item__2 .program-item__label{
    margin: 33px 0 25px 0;
}
.program-item__3 .program-item__label{
    margin: 35px 0 25px 0;
}
.program-item__3 .program-item__body{
    padding: 38px 5px 49px 0;
}
.program-item__3 .program-item__image{
 margin: 0 31px 0 0;
}
.program-item__header {}
.program-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 89px;
}
.program-header__left {
    background: #FAD264;
    text-align: center;
    padding: 24px 10px 17px;
}
.program-item__data {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #42196D;
}
.program-header__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: #320B61;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
}
.program-item__description {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 120%;
}
.program-item__body {
    padding: 38px 21px 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.program-item__image {
    margin: 0 31px 0 0;
}
.program-item__content {
    color: #29242c;
    padding: 4px 0 0 0;
}
.program-item__list {}
.program-item__list li{
    position: relative;
    padding: 0 0 0 46px;
    font-size: 18px;
    line-height: 116%;
    color: #29242c;
    min-height: 30px;
    font-weight: 400;
}
.program-item__list span{
    font-weight: 700;
    color: #000;
}
.program-item__list li::before{
    content: url('../img/program-check.svg');
    position: absolute;
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
}
.program-item__list li:not(:last-child){
    margin: 0 0 19px 0;
}
.program-item__label {
    margin: 31px 0 25px;
    color: #29242C;
    font-size: 18px;
    line-height: 122%;
}
.program-item__list_bottom li{
    position: relative;
    padding: 0 0 0 19px;
}
.program-item__list_bottom li:not(:last-child){
    margin: 0 0 15px 0;
}
.program-item__list_bottom li::before{
    content: "";
    background: #42196D;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 5px;
}

/*TERMS*/
.terms {
    background: #42196D;
    padding: 82px 0 98px;
}
.terms__container {}
.terms__title {
    color: #FAD264;
    margin: 0 0 63px;
}
.terms__title::before{
    background: #fff;
}

.terms__item {}
.terms-item {
    background: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0 0 50px 50px;
    min-height: 484px;
}
.terms-item__image {
    position: relative;
    padding-bottom: 68.19%;
}
.terms-item__image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.terms-item__body {
    background: #fff;
    padding: 33px 5px 24px;
    border-radius: 0 0 50px 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    min-height: 246px;
}
.terms__column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.terms-item__2 .terms-item__body{
    padding: 33px 5px 45px;
}
.terms-item__2 .terms-item__text p:not(:last-child){
    margin: 0 0 45px;
}
.terms__column_2 .terms-bottom__list li:not(:last-child) {
    margin: 0 0 23px;
}
.terms-item__3 .terms-item__body{
    padding: 33px 5px 45px;
}
.terms-item__3 .terms-item__text p:not(:last-child){
    margin: 0 0 45px;
}
.terms__column_3 .terms-bottom__text{
    margin: 0 0 39px;
}
.terms-item__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.terms-item__text p {
    color: #292841;
    font-size: 18px;
    line-height: 116%;
    font-weight: 400;
}
.terms-item__text p:not(:last-child){
    margin: 0 0 26px;
}
.terms-item__text p:last-child{
    margin-top: auto;
}
.terms-item__text span{
    font-weight: 700;
    color: #000;
}
.terms-item__arrow {
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.terms__bottom {}
.terms-bottom {
    color: #fff;
    font-weight: 400;
    margin: 22px 0 0 0;
}
.terms-bottom__text {
    text-align: center;
    font-size: 18px;
    line-height: 116%;
    margin: 0 0 20px;
}
.terms-bottom__list li{
    position: relative;
    padding: 0 0 0 46px;
    font-size: 18px;
    line-height: 116%;
    font-weight: 400;
}
.terms-bottom__list li:not(:last-child){
    margin: 0 0 26px;
}
.terms-bottom__list li::before{
    content: url('../img/terms-check.svg');
    position: absolute;
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
}
.terms__column_2{
    padding: 0 11px 0 18px;
}

/*STEPS*/
.steps{
    background: #F7F7F7;
    padding: 73px 0 80px;
}
.steps__container{
    position: relative;
}
.steps__container::after{
    content: url('../img/steps-bg.png');
    position: absolute;
    right: 104px;
    top: -62px;
}
.steps__title{
    padding: 0 0 24px;
    margin: 0 0 29px;
}
.steps__title::before{
    background: #E130E3;
}
.steps__subtitle{
    font-weight: 400;
    font-size: 36px;
    line-height: 116%;
    margin: 0 0 69px;
    text-align: center;
}
.steps__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.step__item {
    width: 20%;
}
.step-item__1 .step-item__header,
.step-item__1 .step-item__header::before{
    background: #312D48;
}
.step-item__2 .step-item__header,
.step-item__2 .step-item__header::before{
    background: #4E3D71;
}
.step-item__3 .step-item__header,
.step-item__3 .step-item__header::before{
    background: #8E67C0;
}
.step-item__4 .step-item__header,
.step-item__4 .step-item__header::before{
    background: #B967C0;
}
.step-item__5 .step-item__header,
.step-item__5 .step-item__header::before{
    background: #ED867A;
}
.step-item__1 .step-item__header,
.step-item__2 .step-item__header,
.step-item__3 .step-item__header,
.step-item__4 .step-item__header,
.step-item__5 .step-item__header{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.step-item__1 .step-item__header{
    padding-right: 63px;
}
.step-item__2 .step-item__header{
    padding-right: 36px;
}
.step-item__3 .step-item__header{
    padding-right: 30px;
}
.step-item__4 .step-item__header{
    padding-right: 21px;
}
.step-item__5 .step-item__header{
    padding-right: 60px;
}
.step-item__5 .step-item__arrow{
    display: none;
}
.step-item__header > img{
    z-index: 30;
}
.step-item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 24px;
}
.step-item__header::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 100%;
    top: 0;
    right: 11px;
    z-index: 30;
}
.step-item__text {
    margin: 30px 0 0 0;
    color: #060606;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 144%;
    text-align: left;
}
.step-item__text span{
    font-weight: 700;
}
.step-item__arrow{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -43px;
    width: 61px;
    height: 154px;
    z-index: 20;
}

/*CHANGES*/
.changes{
    padding: 80px 0 120px;
}
.changes__title{
    color: #320B61;
    padding: 0 0 20px;
    margin: 0 0 64px;
}
.changes__title::before{
    background: #E130E3;
}
.changes__buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 0 13px;
}
.changes__button{
    background: #C4C4C4;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    min-height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 10px;
    cursor: pointer;
}
.changes__button.active{
    background: #42196D;
    color: #FAD264;
}
.changes__items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 75px;
}
.changes__item {}
.changes-item {
    position: relative;
    margin: 50px 0 0 0;
}
.changes-item__image {
    position: relative;
    padding-bottom: 58.33%;
    border-radius: 40px;
    overflow: hidden;
}
.changes-item__image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.changes-item__content {
    padding: 48px 0 0 0;
    font-size: 18px;
    line-height: 116%;
    color: #292841;
    font-weight: 400;
    text-align: center;
}
.changes-item__content span{
    font-weight: 700;
    color: #000;
}

.changes-bottom{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.changes-bottom__button{
    background: -o-linear-gradient(14.07deg, #FAD264 44.82%, #FCE558 70.67%);
    background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000;
    font-size: 18px;
    line-height: 116%;
    min-height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 350px;
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    font-weight: 400;
}
.changes-bottom__button:hover{
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-weight: 700;
}

/*AUTHOR*/
.author {
    background: #F7F7F7;
    padding: 80px 0 106px;
}
.author__container {
    position: relative;
}
.author__container::before{
    content: url('../img/author-bg.svg');
    position: absolute;
    right: 104px;
    top: -55px;
}
.author__title {
    color: #320B61;
    line-height: 1;
    padding: 0 0 28px;
    margin: 0 0 28px;
}
.author__title::before{
    background: #E130E3;
}
.author__name{
    text-align: center;
    font-size: 36px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
.author__subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin: 36px 0;
}
.author-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}
.author-info__image{
    position: relative;
    padding-bottom: 77.52%;
}
.author-info__image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.author-info__list-item{
    position: relative;
    font-size: 18px;
    line-height: 117%;
    font-weight: 400;
    color: #29242C;
    padding: 0 0 0 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 24px;
}
.author-info__list-item:not(:last-child){
    margin: 0 0 15px;
}
.author-info__list-item::before{
    content: url('../img/author-arrow.svg');
    position: absolute;
    top: 2px;
    left: 0;
}

/*DATA*/
.data {
    background: url('../img/data-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 0 0;
    padding: 130px 0 119px;
}
.data__container {}
.data__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
}
.data__title {
    font-size: 50px;
    line-height: 130%;
    color: #fff;
    text-transform: uppercase;
}
.data__title span{
    color: #FAD264;
}
.data__subtitle {
    margin: 23px 0 28px 0;
    font-size: 20px;
    line-height: 130%;
}
.data__list {}
.data__list-item {
    position: relative;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    padding: 0 0 0 77px;
    color: #fff;
}
.data__list-item:not(:last-child){
    margin: 0 0 61px;
}
.data__list-item::before{
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.data__list-item_1::before {
    content: url('../img/data-icon-1.svg');
}
.data__list-item_2::before{
    content: url('../img/data-icon-2.svg');
}
.data__list-item_3::before{
    content: url('../img/data-icon-3.svg');
}
.data__label {
    padding-left: 77px;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FAD264;
    display: inline-block;
    margin: 27px 0 0 0;

}
.data__form {}
.form {
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 32px 25px 32px 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.form__title {
    font-size: 20px;
    line-height: 130%;
    margin: 0 0 45px;
}
.form__items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.form__item {
    width: 100%;
}
.form__item:not(:last-child){
    margin: 0 0 20px;
}
.form__input {
    width: 100%;
    font-size: 20px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-height: 66px;
    padding: 24px 10px;
    border-radius: 30px;
    background-color: #fff;
    font-weight: 400;
    border: 2px solid transparent;
    -webkit-transition: all .1s ease 0s;
    -o-transition: all .1s ease 0s;
    transition: all .1s ease 0s;
}
.form__input:focus{
    border: 2px solid #F7C847;
}
.form__input::-webkit-input-placeholder{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
}
.form__input::-moz-placeholder{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
}
.form__input:-ms-input-placeholder{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
}
.form__input::-ms-input-placeholder{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
}
.form__input::placeholder{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
}
.form__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-height: 66px;
    width: 100%;
    margin: 30px 0 0;
    color: #000000;
    background: #F7C847;
    -webkit-box-shadow: 0px 10px 40px rgba(255, 223, 135, 0.5);
    box-shadow: 0px 10px 40px rgba(255, 223, 135, 0.5);
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}
.form__button:hover{
    background: #ad8414;
    color: #fff;
    font-weight: 700;
}
.form__label {
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
    max-width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}
.form__label .custom-checkbox{
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

/*FOOTER*/
.footer{
    background: -webkit-gradient(linear, left bottom, left top, from(#320C5A), to(#320C5A));
    background: -o-linear-gradient(bottom, #320C5A, #320C5A);
    background: linear-gradient(0deg, #320C5A, #320C5A);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 0 42px;
    color: #F4F9FF;
    font-family: 'Lato', sans-serif;
}
.footer a{
    color: inherit;
}
.footer__container {}
.footer__support {}
.footer-support {
    padding: 60px 0 44px;
    font-size: 16px;
    line-height: 118%;
    border-right: 1px solid #F6F6F6;
}
.footer-support__label {
    text-transform: uppercase;
    margin: 0 0 5px;
}
.footer-support__link {
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
.footer-support__link:hover{
    color: #FAD264;
}
.footer__info {
    padding: 60px 0 0 0;
}
.footer__info p {
    font-size: 14px;
    line-height: 121%;
    font-weight: 400;
}
.footer__info > p:not(:last-child){
    margin: 0 0 5px;
}

.footer__info .footer__link {
    margin: 5px 0 0;
    display: inline-block;
    font-weight: 400;
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
.footer__info .footer__link:hover{
    text-decoration: underline;
}
.footer__contacts {}
.footer-contacts {
   text-align: right;
   font-size: 14px;
   line-height: 121%;
   font-weight: 400;
}
.footer-contacts__logo {
    margin: 0 0 25px;
    display: inline-block;
}
.footer-contacts__item{}
.footer-contacts__item:not(:last-child){
    margin: 0 0 5px;
}
.footer-contacts__label {
    display: inline;
    margin: 0 3px 0 0;
}
.footer-contacts__link {}